body{
    font-family: sans-serif;
    background-color: aqua;
}

h1{
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
}

h3{
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
}

.inputLevel{
    padding:5px 5px;
    text-align: right;
    width: 30px;
}

.chartBackground{
    width:100vw;
    background-color: white;
}

.chartHolder{
    width:100%;
    margin:20px auto 20px auto;
}

.current{
    display:block;
    width:100%;
    height:auto;
    padding: 0px 0px 20px 0px;
    background-color: white;
}

.buttonHolder{
    display: inline-block;
    width:40%;
    float:left;
    text-align: right;
    padding-right:50px;
}

.btn{
    margin:0px 0px 10px 0px;
    padding:5px 5px;
}

.dataHolder{
    display: inline-block;
    text-align: center;
    width:30%;
}

.vals{
    padding-bottom: 5px;
}

.testBox{
    display: none;
}

@media screen and (max-width: 860px) {

.buttonHolder{
    width:100%;
    float:none;
    text-align: center;
}


.dataHolder{
    width:100%;
}
    
.chartHolder{
    width:400px;
    margin:10px auto 10px auto;
}
    
}